<div id="initial-data" data-initial-data="<%= {
    caregiver: @caregiver.as_json(include: { facts: {}, field_trips: {} }),
    action: action_name,
    controller: controller_name
}.to_json %>">
</div>
<div class="react-container"></div>
<%= javascript_pack_tag 'caregivers/show' %>
