body {
    font-family: 'Open Sans', sans-serif;
    color: $black;
}

section {
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 17px;
}

.ft-navbar {
    border-bottom: 1px solid $light-gray;
}

.rating-star {
    color: $teal;
}

.pointer {
    cursor: pointer;
}

.light {
    font-weight: 300;
}

.gmap {
    height: 25rem;
}

.content {
    padding-top: 40px;
}
