body {
    font-family: 'Open Sans', sans-serif;
    color: $black;
}

section {
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 17px;
}

.ft-navbar {
    border-bottom: 1px solid $light-gray;
    padding: 0;
    margin: 0;

    a, li {
        height: 3.5rem;
    }

    .navbar-brand {
        border-right: 1px solid $light-gray;
        img:hover {
            filter: brightness(50%);
        }
    }

    transition: 1s all;

    .nav-link {
        height: 3.5rem;
    }

    .active {
        color: $teal;
    }
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.rating-star {
    color: $teal;
}

.pointer {
    cursor: pointer;
}

.light {
    font-weight: 300;
}

.gmap {
    height: 25rem;
}

.content {
    padding-top: 40px;
}

.text-center {
    text-align: center;
}
