<div id="initial-data" data-initial-data="<%= {
    field_trip: @field_trip.as_json(include: { user: { include: :facts }, reviews: { include: :user }, active_dates: {} }),
    action: action_name,
    controller: controller_name
}.to_json %>"></div>
<div class="react-container"></div>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= @google_api_key %>"></script>
<%= javascript_pack_tag 'field_trips/show' %>
